[Unit]
Description=Rust Backend Service (Auth)
After=auth-db.service

[Container]
ContainerName=auth-backend

Image=localhost/authenticate-backend:latest
Environment=DATABASE_URL=postgres://admin:secret@auth-db:5432/auth_db
Network=auth.network
PublishPort=8080:8080

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target